.anasayfa{
    margin-top: 50px;
    padding: 0 40px;
    text-align: justify;
    h3{
        text-align: center;
        margin: 40px 0;
    }
    img{
        width: 600px;
        border-radius: 20px;
        display: block;
        margin: auto;
        box-shadow: 5px 4px 8px rgba(201, 186, 186, 0.1), 0 20px 20px rgba(245, 231, 231, 0.15);
    }
}